body {
<<<<<<< HEAD
    color: white;
    background-color: black;
    font-family: 'Courier New', Courier, monospace;
=======
  color: white;
  background-color: #333;
  font-size: 150%;
  font-family: 'Satisfy', cursive;
  margin: 5em 25%;
>>>>>>> 5233da611cb0b8473cba402cc0d93e449b028c62
  }